<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>

<section class="main-container">
    <div class="contain-fluid">
        <div class="row">
            <div class="col-lg-10">
                <form action="/create-post" method="POST" class="login-form">
                    <h2>Hello <%= user %></h2>
                    <label for="title">TItle</label>
                    <input type="text" id="title" required />
                    <label for="description">description</label>
                    <textarea name="description" id="description" rows="10" required></textarea>
                    <input type="hidden" name="author" value="<%= id %>" required />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" required />
                    <button type="submit" class="submit-button">Create</button>
                </form>
            </div>
        </div>
    </div>
</section>