<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>

<section class="main-container">
    <div class="contain-fluid">
        <div class="row">
            <div class="col-lg-10">
                <h2>Sign Up</h2>
                <form action="/signup" method="POST" class="login-form">
                    <label for="Email">Email</label>
                    <input type="text" id="email" name="email" required />
                    <label for="password">password</label>
                    <input type="password" id="password" name="password" required />
                    <input type="hidden" name="author" value="<%= id %>" required />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" required />
                    <button type="submit" class="submit-button">Create</button>
                </form>
                <% if(error !== '') { %>
                    <p><%- error %></p>
               <% } %>
            </div>
        </div>
    </div>
</section>